/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See Android app signing guidance in the Android developer docs.
key.properties
**/*.keystore
**/*.jks
.dual-graph/
.dual-graph-context/
"C:\Users\paul\projects\photo-finish-training\android\null"
"C:\Users\paul\projects\photo-finish-training\android\.claude"
"C:\Users\paul\projects\photo-finish-training\android\.copilot"
"C:\Users\paul\projects\photo-finish-training\android\.github"
"C:\Users\paul\projects\photo-finish-training\android\.idea"
"C:\Users\paul\projects\photo-finish-training\android\.serena"
"C:\Users\paul\projects\photo-finish-training\android\build"
